*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.about-overlay{
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 90vh;
    background-color: #fff;
    margin: 1em auto;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.4s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    animation: scaleUp 0.3s ease-in-out;
}
.about-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    border-bottom:1px solid gray;
}
.about-close button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.content{
    margin-top: 20px;
}
.content p span{
    font-weight: 700;
}
.key-features{
    box-sizing: border-box;
    margin-top: 20px;
   
}
.key-features h3{
    margin: 0;
    padding: 0;
    color: #34495e;
     font-size: 18px;
}
.key-features ul{
    box-sizing: border-box;
    padding-left: 20px;
}
.key-features ul li {
    margin-top: 10px;
}
@media (max-width: 768px) {
   .about-overlay{
    width: 90%;
    height: 100%;
} 
}
