*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.how-to-overlay{
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    max-height: 90vh;
    background-color: #fff;
    margin: 1em auto;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.4s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    animation: scaleUp 0.3s ease-in-out;
}
.how-to-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    border-bottom:1px solid gray;
}
.how-to-close button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.how-to-instructions ul li{
    list-style: none;
    padding: 10px 0px;
    margin-top: 5px;
}
@media (max-width: 768px) {
   .how-to-overlay{
    width: 90%;
    height: 100%;
} 
}