*{
    font-size: 16px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #20797f;
    border: 1.5px solid  #20797f;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px;
    padding: 8px 16px;
}
.logo{
   padding: 2px 10px;
   border-radius: 5px;
   background-color: white;
   color: black;
}
.logo h1{
    margin: 0;
    padding: 0;
    font-size: 32px;
}
.menu-btns ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.menu-btns ul li{
    list-style: none;
}
.menu-btn button{
    color: black;
    padding: 8px 12px;
    margin-left: 4px;
    cursor: pointer;
    transition: opacity 0.2s;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    font-weight: 600;
}
.menu-btn button:hover{
        scale: 1.05;
    opacity: 0.8;
}

@media (max-width : 768px) {
    .nav-bar{
        flex-direction: column;
    }
    .logo h1{
        font-size: 24px;
    }
    .menu-btn button{
    font-size: 12px;
    padding: 10px 5px;
    }
}