* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.notes-container {
    border: 1.5px dotted black;
    padding: 1em;
    margin-bottom: 1.5em;
    transition: all 0.3s ease;
    position: relative;
    background: white;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;

}

.notes-tag span {
    display: inline-block;
    background: #e0e0e0;
    padding: 4px 8px;
    border-radius: 12px;
    margin: 2px;
    font-size: 12px;
}

.reminder-datetime {
    color: rgb(102, 102, 119);
    font-size: 0.9em;
}

.buttons {
    margin-top: 1em;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.buttons button {
    color: black;
    border: 1px solid black;
    padding: 8px 12px;
    cursor: pointer;
    transition: opacity 0.2s;
    border-radius: 5px;
    background: white;
    font-weight: 600;
}

.buttons button:hover {
    scale: 1.05;
    background: #20797f;
    border: 1px solid #20797f;
    color: white;
}

.note-content {
    margin-top: 1em;
    border: 1.5px solid #20797f;
    padding: 1em;
    border-radius: 8px;
    font-family: "Akaya Kanadaka", system-ui;
    line-height: 2rem;
}

.textarea {
    display: flex;
    flex-direction: column;

}

.textarea textarea {
    width: 95%;
    height: 250px;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
}

.textarea button {
    max-width: fit-content;
}

.notes-container input {
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 8px;
}

.search-template {
    margin: 0 auto;
    margin-top: 24px;
    position: relative;
    padding: 16px 0px;
}

.search-template input {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-radius: 8px;
    border: 1.5px solid black;
    outline: none;
}

.search-template label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease;
    padding: 8px;
}

.search-template input:focus+label,
.search-template input:not(:placeholder-shown):valid+label {
    top: 0%;
    color: black;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1.5px solid #20797f;
}

#clear-btn {
    text-align: center;
    background: #20797f;
    color: white;
    border: none;
    padding: 0.8em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: 50%;
    translate: -50% 0;
    font-weight: 600;
}

.reset-reminder-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.reset-reminder-overlay-container {
    max-width: 600px;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}

.reset-reminder-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reset-reminder-heading button {
    font-size: 24px;
    cursor: pointer;
    color: rgb(118, 118, 118);
    background-color: transparent;
    border: none;
}

.hidden-notes-list {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}

.archive-notes-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}

.archive-notes-overlay-container {
    max-width: 800px;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}
#archive-notes-list-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    cursor: pointer;
}
#archive-notes-list-button button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #20797f;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.reminder-shown{
    background-color: rgb(245, 191, 90);
    display: inline-block;
    padding: 2px 5px;
    color: black;
    border-radius: 5px;
}
.hidden {
    display: none;
}

.hide {
    display: none;
}